@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
.overlay {
  position: fixed; /* Đặt overlay cố định */
  top: 0; /* Ở trên cùng */
  left: 0; /* Ở bên trái */
  right: 0; /* Ở bên phải */
  bottom: 0; /* Ở dưới cùng */
  background-color: rgba(0, 0, 0, 0.7); /* Màu nền đen mờ */
  display: flex; /* Sử dụng flexbox để căn giữa */
  align-items: center; /* Căn giữa theo chiều dọc */
  justify-content: center; /* Căn giữa theo chiều ngang */
  z-index: 999; /* Đảm bảo overlay nằm trên các phần tử khác */
}

/* Styles cho form */
.container {
  background-color: white; /* Màu nền cho form */
  border-radius: 8px; /* Bo góc cho form */
  padding: 20px; /* Padding bên trong */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Đổ bóng cho form */
  width: 60%; /* Chiều rộng của form */
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container input {
  width: 100%; /* Đặt chiều rộng cho input */
  padding: 10px; /* Padding bên trong */
  margin: 10px 0; /* Margin giữa các input */
  border: 1px solid #ccc; /* Đường viền */
  border-radius: 10px; /* Bo góc cho input */
  background-color: #fff;
}
h1 {
  font-size: 20px; /* Kích thước chữ là 16px */
  font-weight: bold; /* Đặt chữ in đậm */
  display: block; /* Hiển thị dưới dạng khối (block) */
  margin: 0; /* Xóa lề mặc định nếu cần */
  text-align: center;
  color: black;
  font-family: "Open Sans", sans-serif;
}
.button_card {
  display: flex;
  gap: 10px;
}
/* styles.css */
.custom-toast {
  border: 1px solid #4caf50; /* Đường viền màu xanh */
  border-radius: 8px; /* Bo tròn góc */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Đổ bóng */
  padding: 10px; /* Padding cho toast */
  font-family: Arial, sans-serif; /* Font chữ */
  transition: all 0.3s ease; /* Hiệu ứng chuyển tiếp */
  width: 100%; /* Kích thước rộng của toast */
  max-width: 10%; /* Kích thước tối đa để tránh tràn */
  font-size: 16px; /* Kích thước chữ */ /* Hiệu ứng chuyển tiếp */
}

/* Hiệu ứng hover */
.custom-toast:hover {
  transform: scale(1.05); /* Phóng to khi hover */
}
