.card_pruducts {
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}
.custom-card-body {
  height: 100%;
  width: 55rem;
}
.product {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.search_card {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-right: 20px;
}
.search_card img {
  margin: 0 auto;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.custom-navbar {
  background-color: #fff; /* Đổi màu nền */
  border-radius: 10px; /* Bo góc navbar */
  /* border: solid 2px; */
  border-color: rgb(116, 116, 236);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
}
